<div>
  <div class="page-header">
    <h1>
      About me
    </h1>
    <h4 class="text-muted">Jonathan Rubin Yaniv</h4>
  </div>
  <div class="content">
    <p class="lead col-md-6 col-lg-offset-1">I'm a third year computer science student @ IDC. My passion for learning
      has been greatly developed in the past 3
      years. I've been an intern at Microsoft Herzliya the past 6 months and last month I converted my position to a
      full
      time employee.</p>

    <div class="text-center">
      <!--suppress HtmlUnknownTarget -->
      <img src="content/IMG_0166.jpg" class="img-circle" width="202" height="190">
    </div>
  </div>
</div>