<div>
  <div class="page-header">
    <h1>
      About me
    </h1>
    <h4 class="text-muted">My Name</h4>
  </div>
  <div class="content">
    <p class="lead col-md-6 col-lg-offset-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet
      facilisis felis. In quis justo vitae lorem feugiat consequat sit amet ac mauris. Mauris eget urna nec dui pharetra
      finibus. Aliquam eleifend pharetra nisi ut vulputate. Pellentesque eleifend diam ac metus pharetra aliquam. Nulla
      blandit metus non ligula rutrum feugiat vitae ut nulla. Morbi mollis nibh a massa tincidunt consectetur. Cras
      molestie iaculis augue. Proin suscipit, lorem non molestie fermentum, ex est scelerisque lorem, at convallis nulla
      velit at lorem. Integer faucibus cursus justo auctor accumsan.</p>

    <div class="text-center">
      <!--suppress HtmlUnknownTarget -->
      <img src="content/picture.gif" class="img-circle" width="202" height="190">
    </div>
  </div>
</div>