<div>
  <div class="col-md-6">
    <h2>
      Hardest Part
    </h2>
    <p>The hardest part was implementing the router with jQuery only. I could use Angular for this SPA but then it would
      take make less than an hour to complete the exercise. Instead, I spent more than 6-7 hours learning browser
      events, DOM manipulation, and then used jQuery for doing so in a more convenient way.</p>
  </div>
  <div class="col-md-6">
    <h2>
      Nicest Part
    </h2>
    <p>The router :)</p>
  </div>
</div>